<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="permittedExtensions" value=".xls,.xlsx,.doc,.docx,.pdf,.msg,.png,.jpg,.xml" />
		<add key="fileZipPath" value="C:\Users\hemil\source\repos\zipStorage\sample_valid.zip"/>
		<add key="fileXSD" value="C:\Users\hemil\source\repos\zipStorage\party.xsd"/>
		<add key="extractZIPPath" value="C:\Users\hemil\source\repos\zipStorage\outputFolders"/>
		<add key="adminEmail" value="ravani.avani@gmail.com"/>
		<add key="senderEmail" value="ravani.avani@gmail.com"/>
		<!--Sensitive: Provision another mechanism to store passwords;probably encrypt/decrypt it-->
		<add key="senderEmailPassword" value="1zrknzfltkweizirf1"/>
		<add key="successEmailSubject" value="Valid ZIP file"/>
		<add key="successEmailBody" value="Provided ZIP file is valid and it has been extracted to "/>
		<add key="errorEmailSubject" value="Invalid ZIP file"/>
		<add key="errorEmailBody" value="Provided ZIP file is invalid. Please refer to logs for more details."/>
	</appSettings>
</configuration>